{% block content %}
<h1> Trips Report</h1>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>User Name</th>
                <th>Contact</th>
                <th>Driver Name</th>
                <th>Request On</th>
            </tr>
        </thead>
        <tbody>
            {% for index, trip in data_dict.items %}
            <tr>
                <td>{{ trip.patient_name }}</td>
                <td>{{ trip.user }}</td>
                <td>{{ trip.contact }}</td>
                <td>{{ trip.driver }}</td>
                <td>{{ trip.request_date|date:"Y-m-d H:i:s" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}