<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <section class="header">
        <div class="logo">
            <i class="ri-menu-line icon icon-0 menu"></i>
            <h2>Mobilance</h2>
        </div>
        <div class="search--notification--profile">
            <div class="search">
                <input type="text" placeholder="Search">
                <button><i class="ri-search-2-line"></i></button>
            </div>
            <div class="notification--profile">
                <div class="picon lock">
                    <i class="ri-lock-line"></i>
                </div>
                <div class="picon bell">
                    <i class="ri-notification-2-line"></i>
                </div>
                <div class="picon chat">
                    <i class="ri-wechat-2-line"></i>
                </div>
                <div class="picon profile">
    
                    <img src="{% static 'assets/images/profile.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="{% url 'index' %}" id="active--link">
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Dashboard</span>
                    </a>
                </li>
                
                <li>
                    <a href="{% url 'drivers_list' %}">
                        <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Drivers</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer_list' %}">
                        <span class="icon icon-4"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">Customers</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'request_list' %}">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Requests</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'trips_list' %}">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Trips in Progress</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'completed_list' %}">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Completed Trips</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'generate_report' %}">
                        <span class="icon icon-5"><i class="ri-line-chart-line"></i></span>
                        <span class="sidebar--item">Print Report</span>
                    </a>
                </li>
                
            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="{% url 'logout' %}">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main--content">
            
<div class="overview">
    <div class="title">
        <h2 class="section--title">Overview</h2>
    </div>
<div class="cards">
    <div class="card card-1">
        <div class="card--data">
            <div class="card--content">
                <h5 class="card--title">Total Drivers</h5>
                <h1>{{info.drivercount}}</h1>
            </div>
            <i class="ri-user-2-line card--icon--lg"></i>
        </div>
        <div class="card--stats">
            <span><i class="ri-bar-chart-fill card--icon stat--icon"></i></span>
            <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>{{info.drivercount}}</span>
            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>0</span>
        </div>
    </div>
    <div class="card card-2">
        <div class="card--data">
            <div class="card--content">
                <h5 class="card--title">Completed Trips</h5>
                <h1>{{info.tripcount}}</h1>
            </div>
            <iconify-icon icon="pajamas:car"></iconify-icon>
            <i class="ri-user-2-line card--icon--lg"></i>
        </div>
        <div class="card--stats">
            <span><i class="ri-bar-chart-fill card--icon stat--icon"></i></span>
            <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>{{info.tripcount}}</span>
        </div>
    </div>
    <div class="card card-3">
        <div class="card--data">
            <div class="card--content">
                <h5 class="card--title">Pending</h5>
                <h1>{{info.progresscount}}</h1>
            </div>
            <i class="ri-calendar-2-line card--icon--lg"></i>
        </div>
        <div class="card--stats">
            <span><i class="ri-bar-chart-fill card--icon stat--icon"></i></span>
            <span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>{{info.progresscount}}</span>
            <span><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>{{info.tripcount}}</span>
        </div>
    </div>
    
</div>
</div>
            {% block content %}
            {% endblock %}
        </div>
        </div>
    </section>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>